{% for message in get_flashed_messages() %}
  <p>{{ message }}</p>
{% endfor %}
<form method="POST" action="{{ url_for('.post_upload') }}" enctype="multipart/form-data">
  {{ form.email.label() }}{{ form.email() }}
  <p><em>{{ form.email.description }}</em></p>
  <p>{{ ", ".join(form.email.errors) }}</p>
  {{ form.photo.label() }}{{ form.photo() }}
  <p><em>{{ form.photo.description }}</em></p>
  <p>{{ ", ".join(form.photo.errors) }}</p>
  <p>
    <input type="submit" value="{{ _('Submit') }}" />
  </p>
  {{ form.hidden_tag() }}
</form>
