<!DOCTYPE html>
<html lang="{{ this.alt }}">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{% block page_title %}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ '/static/css/normalize.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/css/skeleton.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/css/mmenu/jquery.mmenu.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/css/style.css'|url }}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ '/static/images/favicon.png'|url }}">

</head>
<body class="regular-page">
<div id="content">
  <div id="white-wrapper">
    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% block content %}{% endblock %}
  <!-- End Document
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </div>
</div>

<script src="{{ '/static/js/jquery.min.js'|url }}"></script>
<script src="{{ '/static/js/mmenu/jquery.mmenu.min.js'|url }}"></script>
<script src="{{ '/static/js/jquery.nicescroll.min.js'|url }}"></script>
<script src="{{ '/static/js/main.js'|url }}"></script>

</body>
</html>
