{% extends 'base.html' %}

{% from 'macros/news.html' import news_block %}

{% from 'macros/'~this.alt~'/information.html' import partners_block, partners_mobile_block %}
{% from 'macros/information.html' import contacts_block %}
{% from 'macros/previous.html' import previous_block %}

{% block content %}
  <section id="information" class="side-borders">
    <div class="container">
      <div class="row">
        <div class="one-half column">
          <div id="dates">
            <div id="year">
              {{ this.days }}
              {{ this.month }}<br />
            </div>
            <div id="days">
              {{ this.year }}
            </div>
          </div>
          <h1>{{ this.title }}</h1>
          <p>{{ this.body }}</p>
          <div id="video">
            <iframe width="100%" height="300px" src="{{ this.video }}" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="one-half column">
          {{ partners_block() }}
          {% set contacts = site.get('/contacts', alt=this.alt) %}
          {{ contacts_block(contacts) }}
        </div>
      </div>
    </div>
  </section>
  <section id="photo-gap-2">
    <div id="mountain" class="show-desktop show-tablet">
      <img src="{{ '/static/images/mount.jpg'|url }}" />
    </div>
    <div class="triangle-top gap-triangle">
      <img class="show-mobile" src="{{ '/static/images/triangle-top.png'|url }}" />
      <img class="show-tablet show-desktop" src="{{ '/static/images/triangle-double-top.png'|url }}" />
    </div>
    {% set history = site.get('festival-history', alt=this.alt) %}
    {{ previous_block(history) }}
    <div class="triangle-bot gap-triangle">
      <img class="show-mobile" src="{{ '/static/images/triangle-bot.png'|url }}" />
    </div>
  </section>
  <section id="news" class="side-borders">
    {% set news = site.get('festival-news', alt=this.alt) %}
    <div class="container">
      <div class="row">
        <div class="column">
          {{ news_block(news) }}
        </div>
      </div>
    </div>
  </section>
  <section id="photo-gap-3">
    <div class="triangle-top gap-triangle">
      <img src="{{ '/static/images/triangle-top-border.png'|url }}" />
    </div>
    <div class="triangle-bot gap-triangle show-mobile">
      <img src="{{ '/static/images/triangle-bot-border.png'|url }}" />
    </div>
  </section>
  <section id="rest-information" class="show-mobile">
    <div class="container">
      <div class="row">
        <div class="column">
          {{ partners_mobile_block() }}
        </div>
      </div>
    </div>
  </section>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <script src="{{ '/static/js/contacts-wrap.js'|url }}"></script>
{% endblock javascripts %}

