{% extends 'base.html' %}

{% from 'macros/news.html' import news_block %}

{% from 'macros/'~this.alt~'/information.html' import contacts_block, partners_block %}

{% block content %}
  <nav>
    <div class="show-mobile">
      <a href="#"><img src="{{ '/static/images/humb.png'|url }}" /></a>
    </div>
    <div class="show-tablet">
      <a href="#"><img src="{{ '/static/images/humb-black.png'|url }}" /></a>
    </div>
  </nav>
  <header class="side-borders">
    <div id="languages">
      <a href="{{ this|url(alt='be') }}">бел</a>
      <a href="{{ this|url(alt='ru') }}">рус</a>
      <a href="{{ this|url(alt='en') }}">eng</a>
    </div>
    <div class="show-mobile">
      <img src="{{ '/static/images/logo.png'|url }}" alt="{{ this.title }}" />
    </div>
    <div class="show-tablet">
      <img src="{{ '/static/images/logo-tablet.png'|url }}" alt="{{ this.title }}" />
    </div>
    <div id="main-partners" class="show-tablet">
      <img src="{{ '/static/images/partners.png'|url }}" alt=""/>
    </div>
  </header>
  <section id="information" class="side-borders">
    <div class="container">
      <div class="row">
        <div class="one-half column">
          <div id="dates">
            <div id="year">
              {{ this.month }}<br />
              {{ this.year }}
            </div>
            <div id="days">
              {{ this.days }}
            </div>
          </div>
          <h1>{{ this.title }}</h1>
          <p>{{ this.body }}</p>
          <div id="video">
            <iframe width="100%"  src="https://www.youtube.com/embed/_J3lVX_f_eQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="one-half column">
          {{ partners_block() }}
          {% set contacts = site.get('/contacts') %}
          {{ contacts_block(contacts) }}
        </div>
      </div>
    </div>
  </section>
  <section id="photo-gap-1">
    <div class="triangle-top gap-triangle">
      <img class="show-mobile" src="{{ '/static/images/triangle-top.png'|url }}" />
      <img class="show-tablet" src="{{ '/static/images/triangle-double-top.png'|url }}" />
    </div>
    <div class="triangle-bot gap-triangle">
      <img class="show-mobile" src="{{ '/static/images/triangle-bot.png'|url }}" />
      <img class="show-tablet" src="{{ '/static/images/triangle-double-bot.png'|url }}" />
    </div>
  </section>
  <section id="participants">
  </section>
  <section id="photo-gap-2">
    <div class="triangle-top gap-triangle">
      <img src="{{ '/static/images/triangle-top.png'|url }}" />
    </div>
    <div class="triangle-bot gap-triangle">
      <img src="{{ '/static/images/triangle-bot.png'|url }}" />
    </div>
  </section>
  <section id="news">
    {% set news = site.get('/festival-news') %}
    <div class="container">
      <div class="row">
        <div class="column">
          {{ news_block(news) }}
        </div>
      </div>
    </div>
  </section>
  <section id="photo-gap-3">
    <div class="triangle-top gap-triangle">
      <img src="{{ '/static/images/triangle-top-border.png'|url }}" />
    </div>
    <div class="triangle-bot gap-triangle">
      <img src="{{ '/static/images/triangle-bot-border.png'|url }}" />
    </div>
  </section>
  <section id="rest-information">
    <div class="container">
      <div class="row">
        <div class="column">
        </div>
      </div>
    </div>
  </section>
  <section id="photo-gap-4">
    <div class="triangle-bot gap-triangle">
      <img src="{{ '/static/images/triangle-bot-black.png'|url }}" />
    </div>
  </section>
  <footer>
  </footer>
{% endblock content %}

