{% extends 'base.html' %}

{% block page_title %}Рубон {{ this.year }}{% endblock page_title %}

{% block content %}
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lectus turpis, finibus id porta eu, dictum id tortor. Aenean vel aliquam est, sit amet interdum justo. Quisque egestas orci ex, in facilisis mi rhoncus eu. Donec vel convallis diam. Praesent nec porta mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla pharetra facilisis hendrerit. Phasellus commodo cursus vehicula. Maecenas odio augue, hendrerit quis odio id, euismod pellentesque diam. Nullam feugiat mauris congue magna blandit dictum eu vitae purus. Nunc id velit accumsan, volutpat eros eget, consectetur mauris. Sed posuere ante eget ligula sagittis imperdiet. Nullam aliquam mollis quam ut luctus.</a>
{% endblock content %}
