<!DOCTYPE html>
<html lang="be">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Рубон 2017 онлайн - найноўшыя весткі наўпрост з фестывалю сярэднявечнай культуры</title>

    {% block stylesheets %}
    <link href="{{ url_for('theme.static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('theme.static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('theme.static', filename='css/style.css') }}" rel="stylesheet">
		{% endblock stylesheets %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <header class="theme-margin-bottom">
        <div class="row">
          <div class="col-xs-3">
            <a href="http://rubonfest.by" target="_blank">
              <img src="{{ url_for('theme.static', filename='images/logo.png') }}" alt="Фестываль сярэднявечнай культуры Рубон, Полацк"/>
            </a>
          </div>
          <div class="col-xs-9">
            <h1>ONLINE.rubonfest.by</h1>
            <h4 class="text-center">наўпроставыя весткі з фестывалю сярэднявечнай культуры Рубон 2017</h4>
          </div>
        </div>
      </header>
      <main class="theme-margin-bottom">
      {% block body %}{% endblock body %}
      </main>
    </div>

    {% block javascripts %}
    <script src="{{ url_for('theme.static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('theme.static', filename='js/bootstrap.min.js') }}"></script>
		{% endblock javascripts %}
  </body>
</html>

