{% macro partners_block() %}
  <div class="show-tablet show-desktop bottom-margin-sm" id="partners">
    <h4>Партнёры</h4>
    <img class="partner" src="{{ '/static/images/partner_1.jpg'|url }}" alt="" />
  </div>
{% endmacro %}

{% macro partners_mobile_block() %}
  <div class="show-mobile bottom-margin-sm" id="partners-mobile">
    <h4>Партнёры</h4>
    <img class="partner" src="{{ '/static/images/partner_1.jpg'|url }}" alt="Міністэрства спорту і турызму Рэспублікі Беларусь" />
  </div>
{% endmacro %}

