{% macro menu_items(show_prog=False, show_guests=False, show_polack=False) %}
    <li><a href="/#news">Навіны</a></li>
    {% if show_prog %}
    <li><a href="#">Праграма-2017</a></li>
    {% endif %}
    {% if show_guests %}
    <li><a href="#">Госці</a></li>
    {% endif %}
    <li><a href="{{ '/festival-partners'|url }}">Партнёрам</a></li>
    <li><a href="{{ '/festival-participants'|url }}">Удзельнікам</a></li>
    <li><a href="{{ '/mass-media'|url }}">СМІ</a></li>
    {% if show_polack %}
    <li><a href="#">Полацк</a></li>
    {% endif %}
    <li><a href="{{ '/contacts'|url }}">Кантакты</a></li>
{% endmacro %}
