{% macro menu_items(show_prog=False, show_guests=False, show_polack=False) %}
    <li><a href="#">Навіны</a></li>
    {% if show_prog %}
    <li><a href="#">Праграма-2017</a></li>
    {% endif %}
    {% if show_guests %}
    <li><a href="#">Госці</a></li>
    {% endif %}
    <li><a href="#">Партнёрам</a></li>
    <li><a href="#">Удзельнікам</a></li>
    <li><a href="#">СМІ</a></li>
    {% if show_polack %}
    <li><a href="#">Полацк</a></li>
    {% endif %}
    <li><a href="#">Кантакты</a></li>
{% endmacro %}
