 /* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    background-image: url('../images/menu-logo.png');
    background-size: 80%;
    background-position: center 200px;
    background-repeat: no-repeat;
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 20%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
}

/* The navigation links inside the overlay */
.overlay a {
    text-decoration: none;
    font-size: 2rem;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
    line-height: 1.8em;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 0;
    left: 30px;
    font-size: 2em;
}

.overlay a {
  color: #fff;
  line-height: 1.3em;
}

.overlay a:hover {
  color: #555;
}

@media (min-width: 550px) {
  .overlay .closebtn {
    left: 100px;
  }
}
