body {
  background: #dbc8ac;
}
img {
  max-width: 100%;
  width: 100%;
}

a,
a:visited,
a:active {
  color: #2e1313;
}

a:hover {
  color: #fff;
}

h3 {
  text-align: center;
}

nav#nav-main-mobile,
nav#nav-main {
  height: 65px;
  margin-top: 25px;
  margin-bottom: 50px;
  background: url('../images/menu_bg.png') no-repeat;
}

nav#nav-main-mobile {
  float: right;
  display: none;
  background: url('../images/menu_bg_small.png') no-repeat top right;
  padding-left: 15px;
}

nav#nav-second ul,
nav#nav-main ul,
nav#nav-main-mobile ul {
  overflow: hidden;
  padding: 1rem 0 0 0;
  margin: 0px;
  list-style: none;
}

nav#nav-second li,
nav#nav-main li,
nav#nav-main-mobile li {
  padding: 0px;
  margin: 0px;
  display: inline;
}

nav#nav-second li ,
nav#nav-main-mobile li ,
nav#nav-main li  {
  float: left;
  display: block;
  padding: 3px 20px 5px 20px;
  text-align: center;
  outline: none;
}

nav a {
  font-size: 1.2em;
  line-height: 2.1em;
  font-weight: normal;
  text-decoration: none;
}

nav a img {
  height: 45px;
}

nav#nav-main-mobile li  {
  padding-right: 60px;
}

nav#nav-second li  {
  padding: 0 20px;
}

nav#nav-second {
  background: url('../images/second_menu_fill.png') repeat-x;
  height: 50px;
}

nav#nav-second ul {
  overflow: hidden;
  padding: 5px 0 0 0;
  margin: 0px;
  list-style: none;
}

nav#nav-second ul li:last-child,
nav#nav-main-mobile ul li:last-child,
nav#nav-main ul li:last-child {
  padding-right: 20px;
  border: none;
}

div#logo {
  margin-top: 25px;
}

div#logo img {
  width: 100%;
}

div#site-title {
  text-align: center;
  margin-bottom: 50px;
}

div#site-title a {
  text-decoration: none;
}


div#site-title span {
  display: block;
  font-size: 0.5em;
  color: #37322b;
  font-weight: bold;
}

div.sidebar-block {
  width: 100%;
  margin-top: 50px;
}

div.content-block {
  width: 100%;
  margin-top: 50px;
}

a.sidebar-smi-link,
a.sidebar-year-link {
  display: block;
  text-align: center;
  margin-left: 5px;
  padding: 2px;
  float: left;
  width: 30%;
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}
a.sidebar-year-link:hover {
  color: #fff;
}

a.helper-link {
  display: block;
  text-align: right;
  padding: 2rem 0;
  text-transform: uppercase;
  font-size: 1.5em;
}

.bigtext {
  font-size: 1.5em;
}

@media (max-width: 1200px) {
  nav#nav-main {
    display: none;
  }
  nav#nav-main-mobile {
    display: block;
  }
}

@media (max-width: 550px) {
  nav#nav-second {
    display: none;
  }

  a.helper-link {
    text-transform: none;
  }
}
