{% macro contacts_block(contacts) %}
  <h4>{{ contacts.title }}</h4>
  <div class="show-mobile show-tablet bottom-margin" id="contacts-mobile">
    <div class="contact main-contact">
      <p>{{ contacts.main_phone_title }}</p>
      <p>
        <nobr>{{ contacts.main_phone }}</nobr><br />
        <nobr>{{ contacts.main_phone }}</nobr><br />
      </p>
    </div>
    <div class="contact">
      <p>{{ contacts.phone_1_title }}</p>
      <p>
        <nobr>{{ contacts.phone_1 }}</nobr><br />
      </p>
    </div>
    <div class="contact">
      <p>{{ contacts.phone_2_title }}</p>
      <p>
        <nobr>{{ contacts.phone_2 }}</nobr><br />
      </p>
    </div>
    <div class="contact">
      <p>{{ contacts.phone_3_title }}</p>
      <p>
        <nobr>{{ contacts.phone_3 }}</nobr><br />
      </p>
    </div>
  </div>
  <div class="show-desktop bottom-margin" id="contacts">
    <table>
      <tbody>
        <tr class="contact main-contact">
          <td>{{ contacts.main_phone_title }}</td>
          <td><nobr>{{ contacts.main_phone }}</nobr><br /><nobr>{{ contacts.main_phone_1 }}</nobr></td>
        </tr>
        <tr class="contact">
          <td>{{ contacts.phone_1_title }}</td>
          <td><nobr>{{ contacts.phone_1 }}</nobr></td>
        </tr>
        <tr class="contact">
          <td>{{ contacts.phone_2_title }}</td>
          <td><nobr>{{ contacts.phone_2 }}</nobr></td>
        </tr>
        <tr class="contact">
          <td>{{ contacts.phone_3_title }}</td>
          <td><nobr>{{ contacts.phone_3 }}</nobr></td>
        </tr>
      </tbody>
    </table>
  </div>

{% endmacro %}

{% macro partners_block(index) %}
  <div class="show-tablet show-desktop bottom-margin-sm" id="partners">
    {% if index.partners %}
    <h4>{{ index.partners_title }}</h4>
    {% for blk in index.partners.blocks if blk.placement == 'column' %}
      {{ blk }}
    {% endfor %}
    {% endif %}
  </div>
{% endmacro %}

{% macro partners_mobile_block(index) %}
  <div class="show-mobile bottom-margin-sm" id="partners-mobile">
    {% if index.partners %}
    <h4>{{ index.partners_title }}</h4>
    {% for blk in index.partners.blocks if blk.placement == 'column' %}
      {{ blk }}
    {% endfor %}
    {% endif %}
  </div>
{% endmacro %}
