{% macro news_block(news) %}
  <h4>{{ news.title }}</h4>
  <h2>
    <a href="http://online.rubonfest.by" target="_blank">
      {{ news.online_rubon_text }}
    </a>
  </h2>
  <div id="news-content">
    <img id="news-left" src="{{ '/static/images/news-left.jpg'|url }}" />
    <img id="news-right" src="{{ '/static/images/news-right.jpg'|url }}" />
    {% for item in news.children.all() %}
      <div class="news-wrap">
        <p class="news-pub-date">{{ item.pub_date.strftime('%d/%m/%Y') }}</p>
        <div class="news-body">{{ item.body }}</div>
      </div>
    {% endfor %}
  </div>
{% endmacro %}
