{% extends 'theme/base.html' %}

{% block body %}
  {% block top %}
    <form method="POST" action="{{ url_for('.login') }}">
      <div class="form-group">
        {{ form.login.label() }} {{ form.login(class_="form-control") }}
      </div>
      <div class="form-group">
        {{ form.password.label() }} {{ form.password(class_="form-control") }}
      </div>
      {% if form.errors|length > 0 %}
      <div class="alert alert-danger">{{ form.errors.values()[0][0] }}</div>
      {% endif %}
      <div class="form-group">
        <input type="submit" class="btn btn-default" value="Увайсці" />
      </div>
      {{ form.hidden_tag() }}
    </form>
  {% endblock top %}

  <div data-bind="component: 'global'">
    <div data-bind="component: {name: 'message-catalog',
                                params: {messagesData: messagesData}}">
      <div data-bind="foreach: messageCategories">
        <div data-bind="component: {name: 'message-category',
                                    params: {categoryData: $data}}">
        </div>
      </div>
      <div data-bind="component: 'all-messages'">
      </div>
    </div>
  </div>

  <script id="message-category-template" type="template/html">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 data-bind="text: name"></h3>
        <p>Паказваюцца апошнія <span data-bind="text: categoryLimit"></span> паведамленняў (аднаўляецца аўтаматычна)</p>
      </div>
      <div class="panel-body">
        <div class="list-group" data-bind="foreach: messages">
          <div data-bind="component: {name: 'message',
                                      params: {message: $data}}">
          </div>
        </div>
      </div>
    </div>
  </script>

  <script id="message-template" type="template/html">
    <div class="list-group-item">
      <div class="row">
        <!-- ko if: withCategory -->
        <div class="col-xs-2">
          <strong>
            <span data-bind="text: category"></span>
          </strong>
        </div>
        <!-- /ko -->
        <div class="col-xs-2">
          <em>
            <span data-bind="text: created"></span>
          </em>
        </div>
        <!-- ko if: withCategory -->
        <div class="col-xs-8">
          <span data-bind="text: message"></span>
        </div>
        <!-- /ko -->
        <!-- ko ifnot: withCategory -->
        <div class="col-xs-10">
          <span data-bind="text: message"></span>
        </div>
        <!-- /ko -->
      </div>
    </div>
  </script>

  <script id="all-messages-template" type="template/html">
    <hr />
    <em>Усе паведамленні (не аднаўляецца):</em>
    <div class="list-group" data-bind="foreach: messages">
      <div data-bind="component: {name: 'message', 
                                  params: {message: $data,
                                           withCategory: true}}">
      </div>
    </div>
    <button class="btn btn-default" data-bind="click: load">
      Заладаваць...
    </button>
  </script>
{% endblock body %}

{% block javascripts %}
  {{ super() }}
  <script data-main="{{ url_for('static', filename='js/main') }}" src="{{ url_for('static', filename='js/require.js') }}"></script>

{% endblock javascripts %}
