{% extends 'theme/base.html' %}

{% from 'online/macros/form.html' import login_form %}

{% block body %}
  {% block top %}
    {% if form.is_submitted() %}
      {{ login_form(form) }}
    {% else %}
      <div class="theme-margin-bottom pull-right">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#login-form-modal">
          <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Уваход
        </button>
      </div>
      <div class="clearfix"></div>

      <div class="modal fade" id="login-form-modal" tabindex="-1" role="dialog" aria-labelledby="login-form-modal-label">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Закрыць"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="login-form-modal-label">Уваход для персаналу</h4>
            </div>
            <div class="modal-body">
              {{ login_form(form) }}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Закрыць</button>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endblock top %}

  <div data-bind="component: 'global'">
    <div data-bind="component: {name: 'message-catalog',
                                params: {messagesData: messagesData}}">
      <h4>Катэгорыі</h4>
      <div class="row theme-margin-bottom" data-bind="foreach: categoriesNames">
        <div class="col-sm-3">
          <a class="theme-message-catalog-category-link" 
             data-bind="attr: {href: '#category-'+$index()}, 
                        text: $data">
          </a>
        </div>
      </div>
      <div data-bind="foreach: messageCategories">
        <div data-bind="attr: {id: 'category-'+$index()},
                        component: {name: 'message-category',
                                    params: {categoryData: $data}}">
        </div>
      </div>
      <div data-bind="component: 'all-messages'">
      </div>
    </div>
  </div>

  <script id="message-category-template" type="template/html">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 data-bind="text: name"></h3>
        <p>Паказваюцца апошнія <span data-bind="text: categoryLimit"></span> паведамленняў (аднаўляецца аўтаматычна)</p>
      </div>
      <div class="panel-body">
        <div class="list-group" data-bind="foreach: messages">
          <div data-bind="component: {name: 'message',
                                      params: {message: $data,
                                               showControls: $root.isAuthorized}}">
          </div>
        </div>
      </div>
    </div>
  </script>

  <script id="message-template" type="template/html">
    <div class="list-group-item">
      <div class="row">
        <!-- ko if: withCategory -->
        <div class="col-xs-2">
          <strong>
            <span data-bind="text: category"></span>
          </strong>
        </div>
        <!-- /ko -->
        <div class="col-xs-2">
          <em class="text-muted">
            <span data-bind="text: created"></span>
          </em>
        </div>
        <!-- ko if: withCategory -->
        <div class="col-xs-7">
          <!-- ko if: photo -->
          <a class="theme-message-imagelink" target="_blank" data-bind="attr: {href: photo_full}">
            <img class="theme-message-image" data-bind="attr: {src: photo, alt: category}" />
          </a>
          <!-- /ko -->
          <span data-bind="text: message"></span>
        </div>
        <!-- /ko -->
        <!-- ko ifnot: withCategory -->
        <div class="col-xs-9">
          <!-- ko if: photo -->
          <a class="theme-message-imagelink" target="_blank" data-bind="attr: {href: photo_full}">
            <img class="theme-message-image" data-bind="attr: {src: photo, alt: category}" />
          </a>
          <!-- /ko -->
          <span data-bind="text: message"></span>
        </div>
        <!-- /ko -->
        <div data-bind="if: showControls" class="col-xs-1">
          <a href="#" data-bind="click: remove" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </div>
      </div>
    </div>
  </script>

  <script id="all-messages-template" type="template/html">
    <hr />
    <em>Усе паведамленні (не аднаўляецца):</em>
    <div class="list-group" data-bind="foreach: messages">
      <div data-bind="component: {name: 'message', 
                                  params: {message: $data,
                                           withCategory: true}}">
      </div>
    </div>
    <button class="btn btn-default" data-bind="click: load">
      <span class="glyphicon glyphicon-arrow-down"></span> Заладаваць...
    </button>
    <button class="btn btn-default" data-bind="click: clear">
      <span class="glyphicon glyphicon-remove"></span> Ачысціць
    </button>
  </script>
{% endblock body %}

{% block javascripts %}
  {{ super() }}
  <script>
    window.rubonSettings = {
      isAuthorized: "{{ session['authorized'] }}",
    };
  </script>
  <script data-main="{{ url_for('static', filename='js/main') }}" src="{{ url_for('static', filename='js/require.js') }}"></script>

{% endblock javascripts %}
