{% macro partners_block(index) %}
  <div class="show-tablet show-desktop bottom-margin-sm" id="partners">
    {% if index.partners %}
    <h4>Partners</h4>
    {% for blk in index.partners.blocks if blk.placement == 'column' %}
      {{ blk }}
    {% endfor %}
    {% endif %}
  </div>
{% endmacro %}

{% macro partners_mobile_block(index) %}
  <div class="show-mobile bottom-margin-sm" id="partners-mobile">
    {% if index.partners %}
    <h4>Partners</h4>
    {% for blk in index.partners.blocks if blk.placement == 'column' %}
      {{ blk }}
    {% endfor %}
    {% endif %}
  </div>
{% endmacro %}

