{% macro overlay_menu(alt) %}
  {% from 'macros/'~alt~'/menu.html' import menu_items %}
  {% from 'macros/'~alt~'/menu.html' import menu_items %}
  {% set prog   = site.get('/festival-program') %}
  {% set guests = site.get('/festival-guests') %}
  {% set polack = site.get('/polack-history') %}
  {% set show_prog   = (prog != None and not prog._hidden) %}
  {% set show_guests = (guests != None and not guests._hidden) %}
  {% set show_polack = (polack != None and not polack._hidden) %}

  {{ menu_items(show_prog, show_guests, show_polack) }}
{% endmacro %}

{% macro top_menu(alt, site) %}
  {% from 'macros/'~alt~'/menu.html' import menu_items %}
  {% set prog   = site.get('/festival-program') %}
  {% set guests = site.get('/festival-guests') %}
  {% set polack = site.get('/polack-history') %}
  {% set show_prog   = (prog != None and not prog._hidden) %}
  {% set show_guests = (guests != None and not guests._hidden) %}
  {% set show_polack = (polack != None and not polack._hidden) %}
  <ul>
    <li><a href="{{ '/'|url(alt=alt) }}"><img src="{{ '/static/images/menu-logo.png'|url }}" alt="" /></a></li>
    {{ menu_items(show_prog, show_guests, show_polack) }}
  </ul>
{% endmacro %}
