{% from 'macros/menu.html' import overlay_menu %}
{% from 'macros/menu.html' import top_menu %}

<!DOCTYPE html>
<html lang="{{ this.alt }}">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{% block page_title %}{% endblock %}</title>
  <meta name="keywords" content="{{ this.meta_keywords }}">
  <meta name="description" content="{{ this.meta_description }}">
  <meta name="author" content="{{ this.meta_author or 'Полацкі звяз' }}">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% block stylesheets %}
  <link rel="stylesheet" href="{{ '/static/css/normalize.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/css/skeleton.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/css/style.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/css/overlay.css'|url }}">
  {% endblock stylesheets %}

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ '/static/images/favicon.png'|url }}">

  <script>
    function rubonGetMessage(module, message) {
      var messages = window.rubonMessages;
      if (typeof messages == 'undefined') {
        console.log('No messages');
        return '';
      }
      if (typeof messages[module] == 'undefined') {
        console.log('No messages for module ' + module);
        return '';
      }
      if (typeof messages[module][message] == 'undefined') {
        console.log('No such message ' + message);
        return '';
      }

      return messages[module][message];
    }
  </script>

</head>
<body class="regular-page">
<div id="content">
  <div id="white-wrapper">
    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% set index = site.get('/', alt=this.alt) %}
    <nav>
      <div class="show-mobile">
        <a class="nav-humb" href="#"><img src="{{ '/static/images/humb.png'|url }}" /></a>
      </div>
      <div class="show-tablet">
        <a class="nav-humb" href="#"><img src="{{ '/static/images/humb-black.png'|url }}" /></a>
      </div>
      <div class="show-desktop">
        {{ top_menu(this.alt, site) }}
      </div>
    </nav>
    <header class="side-borders">
      <div id="languages">
        <a href="{{ '.'|url(alt='be') }}">бел</a>
        <a href="{{ '.'|url(alt='ru') }}">рус</a>
        <a href="{{ '.'|url(alt='en') }}">eng</a>
      </div>
      <div class="show-mobile">
        <img src="{{ '/static/images/logo.png'|url }}" alt="{{ index.title }}" />
      </div>
      <div class="show-tablet show-desktop">
        <img src="{{ '/static/images/logo-tablet.png'|url }}" alt="{{ index.title }}" />
      </div>
      {% block main_partners %}
      <div id="main-partners" class="show-tablet show-desktop">
        {% if index.partners %}
        <div id="main-partners-left">
          {% for blk in index.partners.blocks if blk.placement == 'left' %}
            {{ blk }}
          {% endfor %}
        </div>
        <div id="main-partners-center">
          {% for blk in index.partners.blocks if blk.placement == 'center' %}
            {{ blk }}
          {% endfor %}
        </div>
        <div id="main-partners-right">
          {% for blk in index.partners.blocks if blk.placement == 'right' %}
            {{ blk }}
          {% endfor %}
        </div>
        {% endif %}
      </div>
      {% endblock main_partners %}
    </header>
    {% block content %}{% endblock %}
    <section id="photo-gap-4">
      <div class="triangle-top gap-triangle">
        <img src="{{ '/static/images/triangle-sides-white.png'|url }}" />
      </div>
      <div class="triangle-bot gap-triangle">
        <img src="{{ '/static/images/triangle-bot-black.png'|url }}" />
      </div>
    </section>
    <footer>
    </footer>
  <!-- End Document
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </div>
</div>

<!-- overlay -->
<div id="nav-overlay" class="overlay">
  <!-- Button to close the overlay navigation -->
  <a href="#" class="closebtn">x</a>
  <!-- Overlay content -->
  <div class="overlay-content">
    {{ overlay_menu(this.alt) }}
  </div>
</div>

{% block javascripts %}
<script src="{{ '/static/js/jquery.min.js'|url }}"></script>
<script src="{{ '/static/js/jquery.scrollTo.min.js'|url }}"></script>
<script src="{{ '/static/js/jquery.nicescroll.min.js'|url }}"></script>
<script src="{{ ('/static/js/messages_'~ this.alt ~ '.js')|url }}"></script>
<script src="{{ '/static/js/main.js'|url }}"></script>
{% endblock javascripts %}

</body>
</html>
