<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Your page title here :)</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ '/static/css/normalize.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/css/skeleton.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/css/mmenu/jquery.mmenu.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/css/style.css'|url }}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ '/static/images/favicon.png'|url }}">

</head>
<body class="index-page">
<div id="content">
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="content-relative container">
    <header class="row">
      <div class="one-half column">
        <div id="logo">
          <a href="/"><img src="{{ '/static/images/logo.png'|url }}" /></a>
        </div>
      </div><!-- .column -->
      <div class="one-half column">
        <div id="nav-wrapper" class="u-cf">
          <nav id="nav-main" class="u-cf">
            <ul>
              <li><a href="#festival-menu">Пра фэст</a></li>
              <li><a href="/">Удзельнікам</a></li>
              <li><a href="/">Кантакты</a></li>
              <li><a href="/">БЕЛ</a></li>
            </ul>
          </nav>
          <nav id="nav-main-mobile">
            <ul>
              <li><a href="/">БЕЛ</a></li>
              <li><a href="#nav-menu-sidebar"><img src="{{ '/static/images/menu_icon.png'|url }}" /></a></li>
            </ul>
          </nav>
          <nav id="nav-menu-sidebar">
            <ul>
              <li><a href="/">Пра фэст</a></li>
              <li><a href="/">Удзельнікам</a></li>
              <li><a href="/">Кантакты</a></li>
              <li><a href="/">БЕЛ</a></li>
            </ul>
          </nav>
        </div>
        <div id="site-title">
          <h1>
            <a href="/">
              <span>Фестываль сярэднявечнай культуры ў&nbsp;Полацку</span>
            </a>                
          </h1>
        </div>
        <iframe width="100%" height="380px" src="https://www.youtube.com/embed/_J3lVX_f_eQ" frameborder="0" allowfullscreen></iframe>
      </div><!-- .column -->
    </header><!-- .row -->
    <section id="festival-menu" class="row">
      <div class="column">
        <nav id="nav-second">
          <ul>
            <li><a href="#festival-news">Навіны</a></li>
            <li><a href="#">Праграма</a></li>
            <li><a href="{{ '/festival-guests/'|url }}">Госці</a></li>
            <li><a href="#">Як узяць удзел?</a></li>
          </ul>
        </nav>
      </div>
    </section>

    <section id="festival-main" class="row">
      <div class="two-thirds column">
        <div class="content-block">
        <h3>{% block page_title %}{% endblock %}</h3>
        {% block body %}{% endblock %}
        </div>
        {% for guest_role in site.query('/festival-guests').all() %} 
          {% set headliner = guest_role.children.filter(F.to_front == True).first() %}
          <div class="content-block">
            <h4>Галоўны госць фестывалю</h4>
            <h3><a href="{{ headliner|url }}">{{ headliner.name }}</a></h3>
            <img src="{{ headliner.attachments.images.first()|url }}" />
            <a class="helper-link" href="{{ '/festival-guests'|url }}">Пабачыць усіх гасцей</a>
          </div>
        {% endfor %}
        <div class="content-block">
          <table>
            <tbody>
              <tr>
                <td class="content-box">
                  <a href="#" class="helper-link">Праграма фестывалю</a></h4>
                </td>
                <td class="content-box">
                  <a href="#" class="helper-link">Падаць заяўку</a></h4>
                </td>
              </tr>
              <tr>
                <td class="content-box">
                  <a href="#" class="helper-link">Палажэнне фестывалю</a></h4>
                </td>
                <td class="content-box">
                  <a href="#" class="helper-link">Полацкая ярмарка</a></h4>
                </td>
            </tbody>
          </table>
        </div>
      </div>
      <div class="sidebar one-third column">
        <div class="sidebar-block">
          <h4>Кантакты</h4>
          Lorem ipsum dolor sit amet<br/>
          Consectetur adipiscing elit<br/>
          Fusce lectus turpis, finibus<br/>
          <a href="#" class="helper-link">Як знайсці</a>
        </div>
        <div class="sidebar-block">
          <h4>Генеральны партнёр</h4>
          <a _target="blank" href="http://mts.by"><img src="{{ '/static/images/mts.png'|url }}" /></a>
        </div>
        <div class="sidebar-block u-cf">
          <h4>Мінулыя фэсты</h4>
          {% for previous in site.get('/festival-history').children %}
          <a href="{{ previous|url }}" class="sidebar-year-link bigtext">{{ previous.year }}</a>
          {% endfor %}
        </div>
        <div class="sidebar-block">
          <h4>Арганізатары</h4>
          <a href="#"><img src="{{ '/static/images/org_placeholder.png'|url }}" /></a>
        </div>
        <div class="sidebar-block">
          <h4>Пры падтрымцы</h4>
          <div class="u-cf">
            <a href="#" class="sidebar-smi-link"><img src="{{ '/static/images/org_placeholder.png'|url }}" /></a>
            <a href="#" class="sidebar-smi-link"><img src="{{ '/static/images/org_placeholder.png'|url }}" /></a>
            <a href="#" class="sidebar-smi-link"><img src="{{ '/static/images/org_placeholder.png'|url }}" /></a>
            <a href="#" class="sidebar-smi-link"><img src="{{ '/static/images/org_placeholder.png'|url }}" /></a>
          </div>
        </div>
      </div>
    </section>

    <section id="festival-news" class="row">
      <div class="column">
        <div class="content-block">
          <h4>Навіны і СМІ</h4>
          <div class="row">
            <div class="three columns">
              <p class="content-date">
                17 Aug 2016
              </p>
              <p>
                <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
              </p>
            </div>
            <div class="three columns">
              <p class="content-date">
                01 Aug 2016
              </p>
              <p>
                <a href="#">Fusce lectus turpis, finibus id porta eu, dictum id tortor</a>
              </p>
            </div>
            <div class="three columns">
              <p class="content-date">
                10 Jul 2016
              </p>
              <p>
                <a href="#">Aenean vel aliquam est, sit amet interdum justo</a>
              </p>
            </div>
            <div class="three columns">
              <p class="content-date">
                01 Apr 2016
              </p>
              <p>
                <a href="#">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</a>
              </p>
            </div>
          </div>
        </div>
        <div class="content-block">
          <div class="row">
            <div class="two columns">
              <a href="#"><img src="{{ '/static/images/smi_placeholder.png'|url }}" /></a>
            </div>
            <div class="two columns">
              <a href="#"><img src="{{ '/static/images/smi_placeholder.png'|url }}" /></a>
            </div>
            <div class="two columns">
              <a href="#"><img src="{{ '/static/images/smi_placeholder.png'|url }}" /></a>
            </div>
            <div class="two columns">
              <a href="#"><img src="{{ '/static/images/smi_placeholder.png'|url }}" /></a>
            </div>
            <div class="two columns">
              <a href="#"><img src="{{ '/static/images/smi_placeholder.png'|url }}" /></a>
            </div>
            <div class="two columns">
              <a href="#"><img src="{{ '/static/images/smi_placeholder.png'|url }}" /></a>
            </div>
          </div>
          <a href="#" class="helper-link">Палажэнне аб СМІ</a>
        </div>
      </div>
    </section>
  </div><!-- .container -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="footer-logo column">
          <h2>Фестываль сярэднявечча</h2>
          <a href="/"><img src="{{ '/static/images/rubon.png'|url }}" /></a>
          <h4>г. Полацк</h4>
        </div>
      </div>
      <div class="row">
        <div class="three columns">
          <h5>Інфармацыя</h5>
          <ul>
            <li><a href="#">Палажэнне фестывалю</a></li>
            <li><a href="#">Палажэнне фестывалю</a></li>
          </ul>
        </div>
        <div class="three columns">
          <h5>Інфармацыя</h5>
          <ul>
            <li><a href="#">Палажэнне фестывалю</a></li>
            <li><a href="#">Палажэнне фестывалю</a></li>
          </ul>
        </div>
        <div class="three columns">
          <h5>Інфармацыя</h5>
          <ul>
            <li><a href="#">Палажэнне фестывалю</a></li>
            <li><a href="#">Палажэнне фестывалю</a></li>
          </ul>
        </div>
        <div class="three columns">
          <h5>Інфармацыя</h5>
          <ul>
            <li><a href="#">Палажэнне фестывалю</a></li>
            <li><a href="#">Палажэнне фестывалю</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</div>

<script src="{{ '/static/js/jquery.min.js'|url }}"></script>
<script src="{{ '/static/js/mmenu/jquery.mmenu.min.js'|url }}"></script>
<script src="{{ '/static/js/main.js'|url }}"></script>

</body>
</html>
