{% extends 'base.html' %}

{% from 'macros/news.html' import news_block %}

{% from 'macros/information.html' import partners_block, partners_mobile_block, contacts_block %}
{% from 'macros/previous.html' import previous_block %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ '/static/css/animate.min.css'|url }}" />
  <link rel="stylesheet" href="{{ '/static/js/flexslider/flexslider.css'|url }}" />
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <section id="information" class="side-borders">
    <div class="container">
      <div class="row">
        <div class="one-half column">
          <div id="dates">
            <div id="year">
              {{ this.days }}
              {{ this.month }}<br />
            </div>
            <div id="days">
              {{ this.year }}
            </div>
          </div>
          <h1>{{ this.title }}</h1>
          <div id="intro">{{ this.body }}</div>
          <div id="video">
            <iframe width="100%" height="300px" src="{{ this.video }}" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="one-half column">
          {{ partners_block(this) }}
          {% set contacts = site.get('/contacts', alt=this.alt) %}
          {{ contacts_block(contacts) }}
        </div>
      </div>
    </div>
  </section>
  <section id="photo-gap-1">
    <div id="mountain" class="show-desktop show-tablet">
      <img src="{{ '/static/images/mount.jpg'|url }}" />
    </div>
    <div class="triangle-top gap-triangle">
      <img class="show-mobile" src="{{ '/static/images/triangle-top.png'|url }}" />
      <img class="show-tablet show-desktop" src="{{ '/static/images/triangle-double-top.png'|url }}" />
    </div>
    <div class="triangle-bot gap-triangle">
      <img class="show-mobile" src="{{ '/static/images/triangle-bot.png'|url }}" />
      <img class="show-tablet show-desktop" src="{{ '/static/images/triangle-double-bot.png'|url }}" />
    </div>
  </section>
  {% block musical_guests %}
  <section id="musical-guests" class="side-borders">
    {% set musicians = site.get(this.path~'/festival-guests/musicians', alt=this.alt) %}
    {% if musicians  %}
    {% for guest in musicians.children.all() %}
      {% set logo = guest.attachments.get('logo.png') %}
      {% if logo %}
      <div {% if guest.placement == 'center' %}id="main-musical-guest"{% endif %} 
        style="background-image: url({{ logo|url }})"
        class="musical-guest guest-{{ guest.placement}} guest-row-{{ guest.row }} animated">
        <a href="{{ guest|url }}"
           title="{{ guest.name }}"
           alt="{{ guest.name }}">
        {% if guest.show_name %}<h3>{{ guest.name }}</h3>{% endif %}
        </a>
      </div>
      {% endif %}
    {% endfor %}
    {% endif %}
    <h2><a href="#">{{ musicians.name }}</a></h2>
  </section>
  {% endblock musical_guests %}
  {% block features %}
  <section id="features">
    <div class="triangle-top gap-triangle">
      <img class="show-mobile" src="{{ '/static/images/triangle-top.png'|url }}" />
      <img class="show-tablet show-desktop" src="{{ '/static/images/triangle-double-top.png'|url }}" />
    </div>
    <div class="flexslider">
      <ul class="slides">
        {% set features = site.get(this.path ~ '/festival-features', alt=this.alt) %}
        {% if features %}
        {% for feature in features.children.all() %}
        <li>
          {% set logo = feature.attachments.get('logo.jpg') %}
          {% if logo %}
          <span style="background-image: url({{ logo|url }})"></span>
          {% endif %}
        </li>
        {% endfor %}
        {% endif %}
      </ul>
    </div>
    <div class="features-controls"></div>
    <div class="triangle-bot gap-triangle">
      <img class="show-mobile" src="{{ '/static/images/triangle-bot.png'|url }}" />
      <img class="show-tablet show-desktop" src="{{ '/static/images/triangle-double-bot.png'|url }}" />
    </div>
  </section>
  {% endblock features %}
  {% block other_guests %}
  <section id="other-guests" class="side-borders">
    {% set other_guests = site.get(this.path ~ '/festival-guests/participants', alt=this.alt) %}
    {% if other_guests %}
    {% for guest in other_guests.children.all() %}
    {% set logo = guest.attachments.get('logo.png') %}
    {% if logo %}
    <div style="background-image: url({{ logo|url }})"
      class="other-guest guest-{{ guest.placement }} guest-row-{{ guest.row }} animated">
         <a title="{{ guest.name }}"
            href="{{ guest|url }}">
         {% if guest.show_name %}<h3>{{ guest.name }}</h3>{% endif %}
         </a>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    <h2><a href="#">{{ other_guests.name }}</a></h2>
  </section>
  {% endblock other_guests %}
  {% block history %}
  <section id="photo-gap-2">
    <div class="triangle-top gap-triangle">
      <img class="show-mobile" src="{{ '/static/images/triangle-top.png'|url }}" />
      <img class="show-tablet show-desktop" src="{{ '/static/images/triangle-double-top.png'|url }}" />
    </div>
    {% set history = site.get('festival-history', alt=this.alt) %}
    {{ previous_block(history) }}
    <div class="triangle-bot gap-triangle">
      <img class="show-mobile" src="{{ '/static/images/triangle-bot.png'|url }}" />
    </div>
  </section>
  {% endblock history %}
  {% block news %}
  <section id="news" class="side-borders">
    {% set news = site.get('festival-news', alt=this.alt) %}
    <div class="container">
      <div class="row">
        <div class="column">
          {{ news_block(news) }}
        </div>
      </div>
    </div>
  </section>
  {% endblock news %}
  <section id="photo-gap-3">
    <div class="triangle-top gap-triangle">
      <img src="{{ '/static/images/triangle-top-border.png'|url }}" />
    </div>
    {% block gap_3_content %}{% endblock %}
    <div class="triangle-bot gap-triangle show-mobile">
      <img src="{{ '/static/images/triangle-bot-border.png'|url }}" />
    </div>
  </section>
  <section id="rest-information" class="show-mobile">
    <div class="container">
      <div class="row">
        <div class="column">
          {{ partners_mobile_block(this) }}
        </div>
      </div>
    </div>
  </section>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <script src="{{ '/static/js/contacts-wrap.js'|url }}"></script>
  <script src="{{ '/static/js/flexslider/jquery.flexslider-min.js'|url }}"></script>
{% endblock javascripts %}

