<!DOCTYPE html>
<html lang="{{ this.alt }}">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Your page title here :)</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ '/static/css/normalize.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/css/skeleton.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/css/mmenu/jquery.mmenu.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/css/style.css'|url }}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ '/static/images/favicon.png'|url }}">

</head>
<body class="index-page">
<div id="content">
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <nav>
    <a href="#">&#9776;</a>
  </nav>
  <header>
    <div class="container">
      <div class="row">
        <div class="column">
          <div id="languages">
            <a href="{{ this|url(alt='be') }}">бел</a>
            <a href="{{ this|url(alt='ru') }}">рус</a>
            <a href="{{ this|url(alt='en') }}">eng</a>
        </div>
        <div>
          <img src="{{ '/static/images/logo.png'|url }}" alt="{{ this.title }}" />
        </div>
      </div><!-- .row -->
    </div><!-- .container -->
  </header>
  <section id="information">
    <div class="container">
      <div class="row">
        <div class="column">
          <div id="dates" class="u-cf">
            <div id="year">
              {{ this.month }}<br />
              {{ this.year }}
            </div>
            <div id="days">
              {{ this.days }}
            </div>
          </div>
          <h1>{{ this.title }}</h1>
          <p>{{ this.body }}</p>
        </div>
      </div>
    </div>
  </section>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</div>

<script src="{{ '/static/js/jquery.min.js'|url }}"></script>
<script src="{{ '/static/js/mmenu/jquery.mmenu.min.js'|url }}"></script>
<script src="{{ '/static/js/main.js'|url }}"></script>

</body>
</html>
