<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Your page title here :)</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ '/static/css/normalize.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/css/skeleton.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/css/mmenu/jquery.mmenu.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/css/style.css'|url }}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ '/static/images/favicon.png'|url }}">

</head>
<body>
<div id="content">
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="content-relative container">
    <section class="row">
      <div class="column">
        <nav id="nav-second">
          <ul>
            <li><a href="/#festival-news">Навіны</a></li>
            <li><a href="#">Праграма</a></li>
            <li><a href="{{ '/festival-guests/'|url }}">Госці</a></li>
            <li><a href="#">БЕЛ</a></li>
            <li><a href="/"><img src="{{ '/static/images/rubon.png'|url }}" /></a></li>
            <li><a href="#">Удзельнікам</a></li>
            <li><a href="#">Кантакты</a></li>
          </ul>
        </nav>
      </div>
    </section>

    <section class="row">
      <div class="column">
        <h4>{% block page_title %}{% endblock %}</h4>
        {% block body %}{% endblock %}
      </div>
    </section>
  </div><!-- .container -->
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</div>

<script src="{{ '/static/js/jquery.min.js'|url }}"></script>
<script src="{{ '/static/js/mmenu/jquery.mmenu.min.js'|url }}"></script>
<script src="{{ '/static/js/main.js'|url }}"></script>

</body>
</html>
