{% extends 'base.html' %}

{% block body_class %}usual-page{% endblock %}

{% block header_inner %}
    <div id="languages">
      <a href="{{ '.'|url(alt='be') }}">бел</a>
      <a href="{{ '.'|url(alt='ru') }}">рус</a>
      <a href="{{ '.'|url(alt='en') }}">eng</a>
    </div>
{% endblock header_inner %}

{% block page_title %}{{ this.title }}{% endblock %}

{% block breadcrumb %}
{% endblock breadcrumb %}
{% block content %}
<section id="page-intro" class="side-borders top-margin">
  <div class="container">
    <div class="row">
      <article class="column">
        <h1>{% block article_title %}{% endblock %}</h1>
        <div>{% block article_body %}{% endblock %}</div>
      </article>
    </div>
  </div>
</section>

<section id="page-children" class="side-borders bottom-margin">{% block page_children %}{% endblock %}</section>
<section id="photo-gap-3">
  <div class="triangle-top gap-triangle">
    <img src="{{ '/static/images/triangle-top-border.png'|url }}" />
  </div>
  {% set index = site.get('/', alt=this.alt) %}
  <h2><a href="{{ index|url }}">{{ index.title }}</a></h2>
  <p>{{ index.description }}</p>
</section>
{% endblock content %}
