{% extends 'index_layout.html' %}

{% block page_title %}Рубон {{ this.year }}{% endblock page_title %}

{% block main_partners %}
  <div id="main-partners" class="show-tablet show-desktop">
  {% if this.partners %}
    <div id="main-partners-left">
      {% for blk in this.partners.blocks if blk.placement == 'left' %}
        {{ blk }}
      {% endfor %}
    </div>
    <div id="main-partners-center">
      {% for blk in this.partners.blocks if blk.placement == 'center' %}
        {{ blk }}
      {% endfor %}
    </div>
    <div id="main-partners-right">
      {% for blk in this.partners.blocks if blk.placement == 'right' %}
        {{ blk }}
      {% endfor %}
    </div>
  {% endif %}
  </div>
{% endblock main_partners %}

{% block features %}{% endblock %}
{% block other_guests %}{% endblock %}
{% block news %}{% endblock %}
{% block history %}{% endblock %}
