<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>asciicircum</key>
	<dict>
	    <key>oacute</key>
	    <integer>-123</integer>
	    <key>idieresis</key>
	    <integer>-92</integer>
	    <key>icircumflex</key>
	    <integer>-92</integer>
	    <key>igrave</key>
	    <integer>-61</integer>
	    <key>t</key>
	    <integer>-92</integer>
	    <key>s</key>
	    <integer>-92</integer>
	    <key>r</key>
	    <integer>-76</integer>
	    <key>q</key>
	    <integer>-76</integer>
	</dict>
	<key>grave</key>
	<dict>
	    <key>q</key>
	    <integer>45</integer>
	</dict>
	<key>c</key>
	<dict>
	    <key>asciicircum</key>
	    <integer>-76</integer>
	</dict>
	<key>h</key>
	<dict>
	    <key>eacute</key>
	    <integer>-154</integer>
	    <key>ccedilla</key>
	    <integer>-154</integer>
	    <key>Odieresis</key>
	    <integer>-154</integer>
	    <key>Eacute</key>
	    <integer>-123</integer>
	    <key>Aring</key>
	    <integer>-137</integer>
	    <key>asciitilde</key>
	    <integer>-137</integer>
	    <key>j</key>
	    <integer>-106</integer>
	    <key>asciicircum</key>
	    <integer>-76</integer>
	</dict>
	<key>l</key>
	<dict>
	    <key>u</key>
	    <integer>-61</integer>
	</dict>
	<key>q</key>
	<dict>
	    <key>ograve</key>
	    <integer>-246</integer>
	    <key>idieresis</key>
	    <integer>-184</integer>
	    <key>icircumflex</key>
	    <integer>-184</integer>
	    <key>igrave</key>
	    <integer>-154</integer>
	    <key>edieresis</key>
	    <integer>-184</integer>
	    <key>ecircumflex</key>
	    <integer>-184</integer>
	    <key>eacute</key>
	    <integer>-199</integer>
	    <key>ccedilla</key>
	    <integer>-184</integer>
	    <key>aring</key>
	    <integer>-184</integer>
	    <key>atilde</key>
	    <integer>-184</integer>
	    <key>Eacute</key>
	    <integer>-123</integer>
	    <key>asciitilde</key>
	    <integer>-154</integer>
	    <key>j</key>
	    <integer>-154</integer>
	    <key>asciicircum</key>
	    <integer>-92</integer>
	</dict>
	<key>s</key>
	<dict>
	    <key>asciitilde</key>
	    <integer>-76</integer>
	</dict>
	<key>u</key>
	<dict>
	    <key>l</key>
	    <integer>-76</integer>
	</dict>
	<key>v</key>
	<dict>
	    <key>edieresis</key>
	    <integer>-154</integer>
	    <key>ecircumflex</key>
	    <integer>-154</integer>
	    <key>egrave</key>
	    <integer>-168</integer>
	    <key>eacute</key>
	    <integer>-154</integer>
	    <key>ccedilla</key>
	    <integer>-184</integer>
	    <key>aring</key>
	    <integer>-168</integer>
	    <key>atilde</key>
	    <integer>-168</integer>
	    <key>Odieresis</key>
	    <integer>-184</integer>
	    <key>Eacute</key>
	    <integer>-123</integer>
	    <key>Aring</key>
	    <integer>-137</integer>
	    <key>asciitilde</key>
	    <integer>-168</integer>
	    <key>asciicircum</key>
	    <integer>-92</integer>
	</dict>
	<key>asciitilde</key>
	<dict>
	    <key>oacute</key>
	    <integer>-76</integer>
	</dict>
	<key>Aring</key>
	<dict>
	    <key>oacute</key>
	    <integer>-45</integer>
	</dict>
	<key>ccedilla</key>
	<dict>
	    <key>oacute</key>
	    <integer>-61</integer>
	    <key>ntilde</key>
	    <integer>-31</integer>
	</dict>
	<key>eacute</key>
	<dict>
	    <key>oacute</key>
	    <integer>-92</integer>
	</dict>
	<key>edieresis</key>
	<dict>
	    <key>oacute</key>
	    <integer>-76</integer>
	</dict>
	<key>ntilde</key>
	<dict>
	    <key>ccedilla</key>
	    <integer>-45</integer>
	</dict>
	<key>oacute</key>
	<dict>
	    <key>ccedilla</key>
	    <integer>-76</integer>
	    <key>asciitilde</key>
	    <integer>-76</integer>
	</dict>
	<key>ograve</key>
	<dict>
	    <key>asciitilde</key>
	    <integer>-76</integer>
	</dict>
	<key>udieresis</key>
	<dict>
	    <key>multiply</key>
	    <integer>-154</integer>
	    <key>thorn</key>
	    <integer>-154</integer>
	    <key>Thorn</key>
	    <integer>-184</integer>
	    <key>yacute</key>
	    <integer>-260</integer>
	    <key>Yacute</key>
	    <integer>-246</integer>
	    <key>eth</key>
	    <integer>-154</integer>
	    <key>brokenbar</key>
	    <integer>-168</integer>
	    <key>scaron</key>
	    <integer>-123</integer>
	    <key>Scaron</key>
	    <integer>-338</integer>
	    <key>Lslash</key>
	    <integer>-168</integer>
	    <key>caron</key>
	    <integer>-168</integer>
	    <key>ogonek</key>
	    <integer>-154</integer>
	    <key>Ograve</key>
	    <integer>61</integer>
	    <key>Egrave</key>
	    <integer>-139</integer>
	    <key>quotesinglbase</key>
	    <integer>-321</integer>
	    <key>fi</key>
	    <integer>-61</integer>
	    <key>ordfeminine</key>
	    <integer>-154</integer>
	</dict>
	<key>degree</key>
	<dict>
	    <key>Ccaron</key>
	    <integer>-76</integer>
	    <key>yacute</key>
	    <integer>-123</integer>
	    <key>Yacute</key>
	    <integer>-137</integer>
	    <key>zcaron</key>
	    <integer>-92</integer>
	    <key>Scaron</key>
	    <integer>-260</integer>
	    <key>ogonek</key>
	    <integer>-45</integer>
	</dict>
	<key>acute</key>
	<dict>
	    <key>threesuperior</key>
	    <integer>-123</integer>
	    <key>twosuperior</key>
	    <integer>-123</integer>
	    <key>onesuperior</key>
	    <integer>-137</integer>
	    <key>multiply</key>
	    <integer>-154</integer>
	    <key>thorn</key>
	    <integer>-154</integer>
	    <key>Thorn</key>
	    <integer>-154</integer>
	    <key>yacute</key>
	    <integer>-137</integer>
	    <key>Yacute</key>
	    <integer>-184</integer>
	    <key>brokenbar</key>
	    <integer>-154</integer>
	    <key>zcaron</key>
	    <integer>-229</integer>
	    <key>scaron</key>
	    <integer>-123</integer>
	    <key>Lslash</key>
	    <integer>-137</integer>
	    <key>caron</key>
	    <integer>-137</integer>
	    <key>ogonek</key>
	    <integer>-137</integer>
	    <key>Ograve</key>
	    <integer>45</integer>
	    <key>Iacute</key>
	    <integer>-106</integer>
	    <key>Egrave</key>
	    <integer>-106</integer>
	    <key>quotesinglbase</key>
	    <integer>-92</integer>
	    <key>fi</key>
	    <integer>-76</integer>
	</dict>
	<key>ordfeminine</key>
	<dict>
	    <key>yacute</key>
	    <integer>-76</integer>
	    <key>Yacute</key>
	    <integer>-76</integer>
	</dict>
	<key>oslash</key>
	<dict>
	    <key>Ccaron</key>
	    <integer>-184</integer>
	    <key>cacute</key>
	    <integer>-154</integer>
	    <key>Cacute</key>
	    <integer>-123</integer>
	    <key>gbreve</key>
	    <integer>-168</integer>
	    <key>Gbreve</key>
	    <integer>-168</integer>
	    <key>franc</key>
	    <integer>-76</integer>
	    <key>threequarters</key>
	    <integer>-168</integer>
	    <key>onehalf</key>
	    <integer>-184</integer>
	    <key>twosuperior</key>
	    <integer>-123</integer>
	    <key>onesuperior</key>
	    <integer>-137</integer>
	    <key>multiply</key>
	    <integer>-154</integer>
	    <key>minus</key>
	    <integer>-168</integer>
	    <key>thorn</key>
	    <integer>-184</integer>
	    <key>Thorn</key>
	    <integer>-168</integer>
	    <key>yacute</key>
	    <integer>-229</integer>
	    <key>Yacute</key>
	    <integer>-246</integer>
	    <key>eth</key>
	    <integer>-154</integer>
	    <key>brokenbar</key>
	    <integer>-168</integer>
	    <key>zcaron</key>
	    <integer>-215</integer>
	    <key>Zcaron</key>
	    <integer>-168</integer>
	    <key>scaron</key>
	    <integer>-123</integer>
	    <key>Scaron</key>
	    <integer>-260</integer>
	    <key>lslash</key>
	    <integer>-106</integer>
	    <key>Lslash</key>
	    <integer>-168</integer>
	    <key>caron</key>
	    <integer>-184</integer>
	    <key>ogonek</key>
	    <integer>-168</integer>
	    <key>circumflex</key>
	    <integer>-45</integer>
	    <key>Oacute</key>
	    <integer>-76</integer>
	    <key>Egrave</key>
	    <integer>-199</integer>
	    <key>Acircumflex</key>
	    <integer>-92</integer>
	    <key>quotesinglbase</key>
	    <integer>-291</integer>
	    <key>fi</key>
	    <integer>-92</integer>
	    <key>divide</key>
	    <integer>-123</integer>
	</dict>
	<key>questiondown</key>
	<dict>
	    <key>Ccaron</key>
	    <integer>-61</integer>
	    <key>gbreve</key>
	    <integer>-45</integer>
	    <key>Gbreve</key>
	    <integer>-45</integer>
	    <key>threequarters</key>
	    <integer>-31</integer>
	    <key>onehalf</key>
	    <integer>-47</integer>
	    <key>thorn</key>
	    <integer>-76</integer>
	    <key>yacute</key>
	    <integer>-106</integer>
	    <key>Yacute</key>
	    <integer>-154</integer>
	    <key>Scaron</key>
	    <integer>-154</integer>
	    <key>Lslash</key>
	    <integer>-45</integer>
	    <key>caron</key>
	    <integer>-106</integer>
	    <key>ogonek</key>
	    <integer>-76</integer>
	</dict>
	<key>radical</key>
	<dict>
	    <key>Ccaron</key>
	    <integer>-215</integer>
	    <key>cacute</key>
	    <integer>-168</integer>
	    <key>Cacute</key>
	    <integer>-123</integer>
	    <key>multiply</key>
	    <integer>-154</integer>
	    <key>thorn</key>
	    <integer>-154</integer>
	    <key>Thorn</key>
	    <integer>-184</integer>
	    <key>yacute</key>
	    <integer>-260</integer>
	    <key>Yacute</key>
	    <integer>-246</integer>
	    <key>eth</key>
	    <integer>-154</integer>
	    <key>brokenbar</key>
	    <integer>-168</integer>
	    <key>scaron</key>
	    <integer>-123</integer>
	    <key>Scaron</key>
	    <integer>-338</integer>
	    <key>Lslash</key>
	    <integer>-168</integer>
	    <key>caron</key>
	    <integer>-168</integer>
	    <key>ogonek</key>
	    <integer>-154</integer>
	    <key>Ograve</key>
	    <integer>61</integer>
	    <key>Egrave</key>
	    <integer>-139</integer>
	    <key>quotesinglbase</key>
	    <integer>-321</integer>
	    <key>fi</key>
	    <integer>-61</integer>
	    <key>ordfeminine</key>
	    <integer>-154</integer>
	</dict>
	<key>Delta</key>
	<dict>
	    <key>Acircumflex</key>
	    <integer>-123</integer>
	    <key>quotesinglbase</key>
	    <integer>-106</integer>
	</dict>
	<key>quotedblleft</key>
	<dict>
	    <key>Ccaron</key>
	    <integer>-76</integer>
	    <key>yacute</key>
	    <integer>-123</integer>
	    <key>Yacute</key>
	    <integer>-137</integer>
	    <key>zcaron</key>
	    <integer>-92</integer>
	    <key>Scaron</key>
	    <integer>-260</integer>
	    <key>ogonek</key>
	    <integer>-45</integer>
	</dict>
	<key>fi</key>
	<dict>
	    <key>franc</key>
	    <integer>-106</integer>
	    <key>threesuperior</key>
	    <integer>-123</integer>
	    <key>dotlessi</key>
	    <integer>-123</integer>
	    <key>Ograve</key>
	    <integer>-154</integer>
	    <key>apple</key>
	    <integer>-76</integer>
	    <key>Acircumflex</key>
	    <integer>-199</integer>
	    <key>questiondown</key>
	    <integer>-123</integer>
	    <key>oslash</key>
	    <integer>-154</integer>
	</dict>
	<key>fl</key>
	<dict>
	    <key>Ograve</key>
	    <integer>45</integer>
	    <key>oslash</key>
	    <integer>45</integer>
	</dict>
	<key>periodcentered</key>
	<dict>
	    <key>Ccaron</key>
	    <integer>-215</integer>
	    <key>cacute</key>
	    <integer>-168</integer>
	    <key>Cacute</key>
	    <integer>-123</integer>
	    <key>multiply</key>
	    <integer>-154</integer>
	    <key>thorn</key>
	    <integer>-154</integer>
	    <key>Thorn</key>
	    <integer>-184</integer>
	    <key>yacute</key>
	    <integer>-260</integer>
	    <key>Yacute</key>
	    <integer>-246</integer>
	    <key>eth</key>
	    <integer>-154</integer>
	    <key>brokenbar</key>
	    <integer>-168</integer>
	    <key>scaron</key>
	    <integer>-123</integer>
	    <key>Scaron</key>
	    <integer>-338</integer>
	    <key>Lslash</key>
	    <integer>-168</integer>
	    <key>caron</key>
	    <integer>-168</integer>
	    <key>ogonek</key>
	    <integer>-154</integer>
	    <key>Ograve</key>
	    <integer>61</integer>
	    <key>Egrave</key>
	    <integer>-139</integer>
	    <key>quotesinglbase</key>
	    <integer>-321</integer>
	    <key>fi</key>
	    <integer>-61</integer>
	    <key>divide</key>
	    <integer>31</integer>
	    <key>oslash</key>
	    <integer>61</integer>
	    <key>ordfeminine</key>
	    <integer>-154</integer>
	</dict>
	<key>quotedblbase</key>
	<dict>
	    <key>Acircumflex</key>
	    <integer>-123</integer>
	    <key>quotesinglbase</key>
	    <integer>-106</integer>
	</dict>
	<key>perthousand</key>
	<dict>
	    <key>thorn</key>
	    <integer>-61</integer>
	    <key>scaron</key>
	    <integer>-92</integer>
	</dict>
	<key>Edieresis</key>
	<dict>
	    <key>threesuperior</key>
	    <integer>-123</integer>
	    <key>twosuperior</key>
	    <integer>-123</integer>
	    <key>onesuperior</key>
	    <integer>-137</integer>
	    <key>multiply</key>
	    <integer>-154</integer>
	    <key>thorn</key>
	    <integer>-154</integer>
	    <key>Thorn</key>
	    <integer>-154</integer>
	    <key>yacute</key>
	    <integer>-137</integer>
	    <key>Yacute</key>
	    <integer>-184</integer>
	    <key>brokenbar</key>
	    <integer>-154</integer>
	    <key>zcaron</key>
	    <integer>-229</integer>
	    <key>scaron</key>
	    <integer>-123</integer>
	    <key>Lslash</key>
	    <integer>-137</integer>
	    <key>caron</key>
	    <integer>-137</integer>
	    <key>ogonek</key>
	    <integer>-137</integer>
	    <key>Ograve</key>
	    <integer>45</integer>
	    <key>Iacute</key>
	    <integer>-106</integer>
	    <key>Egrave</key>
	    <integer>-106</integer>
	    <key>quotesinglbase</key>
	    <integer>-92</integer>
	    <key>fi</key>
	    <integer>-76</integer>
	    <key>questiondown</key>
	    <integer>-123</integer>
	    <key>oslash</key>
	    <integer>45</integer>
	</dict>
	<key>Egrave</key>
	<dict>
	    <key>threesuperior</key>
	    <integer>-92</integer>
	    <key>dotlessi</key>
	    <integer>-76</integer>
	    <key>Ograve</key>
	    <integer>-76</integer>
	    <key>Acircumflex</key>
	    <integer>-92</integer>
	    <key>questiondown</key>
	    <integer>-92</integer>
	    <key>oslash</key>
	    <integer>-76</integer>
	</dict>
	<key>Idieresis</key>
	<dict>
	    <key>Ucircumflex</key>
	    <integer>-61</integer>
	    <key>quotesinglbase</key>
	    <integer>-123</integer>
	</dict>
	<key>Oacute</key>
	<dict>
	    <key>Ograve</key>
	    <integer>-45</integer>
	    <key>oslash</key>
	    <integer>-45</integer>
	</dict>
	<key>Ocircumflex</key>
	<dict>
	    <key>apple</key>
	    <integer>45</integer>
	    <key>quotesinglbase</key>
	    <integer>-61</integer>
	</dict>
	<key>apple</key>
	<dict>
	    <key>cacute</key>
	    <integer>-168</integer>
	    <key>scedilla</key>
	    <integer>-184</integer>
	    <key>Scedilla</key>
	    <integer>-184</integer>
	    <key>multiply</key>
	    <integer>-199</integer>
	    <key>minus</key>
	    <integer>-184</integer>
	    <key>thorn</key>
	    <integer>-184</integer>
	    <key>Thorn</key>
	    <integer>-184</integer>
	    <key>yacute</key>
	    <integer>-276</integer>
	    <key>Yacute</key>
	    <integer>-307</integer>
	    <key>eth</key>
	    <integer>-184</integer>
	    <key>brokenbar</key>
	    <integer>-184</integer>
	    <key>scaron</key>
	    <integer>-123</integer>
	    <key>Lslash</key>
	    <integer>-184</integer>
	    <key>caron</key>
	    <integer>-184</integer>
	    <key>ogonek</key>
	    <integer>-154</integer>
	    <key>hungarumlaut</key>
	    <integer>-92</integer>
	    <key>Iacute</key>
	    <integer>-154</integer>
	    <key>Egrave</key>
	    <integer>-184</integer>
	    <key>quotesinglbase</key>
	    <integer>-291</integer>
	    <key>fi</key>
	    <integer>-92</integer>
	    <key>divide</key>
	    <integer>-123</integer>
	    <key>ordfeminine</key>
	    <integer>-184</integer>
	</dict>
	<key>Ograve</key>
	<dict>
	    <key>Ccaron</key>
	    <integer>-184</integer>
	    <key>cacute</key>
	    <integer>-154</integer>
	    <key>Cacute</key>
	    <integer>-123</integer>
	    <key>gbreve</key>
	    <integer>-168</integer>
	    <key>Gbreve</key>
	    <integer>-168</integer>
	    <key>franc</key>
	    <integer>-76</integer>
	    <key>threequarters</key>
	    <integer>-168</integer>
	    <key>onehalf</key>
	    <integer>-184</integer>
	    <key>twosuperior</key>
	    <integer>-123</integer>
	    <key>onesuperior</key>
	    <integer>-137</integer>
	    <key>multiply</key>
	    <integer>-154</integer>
	    <key>minus</key>
	    <integer>-168</integer>
	    <key>thorn</key>
	    <integer>-184</integer>
	    <key>Thorn</key>
	    <integer>-168</integer>
	    <key>yacute</key>
	    <integer>-229</integer>
	    <key>Yacute</key>
	    <integer>-246</integer>
	    <key>eth</key>
	    <integer>-154</integer>
	    <key>brokenbar</key>
	    <integer>-168</integer>
	    <key>zcaron</key>
	    <integer>-215</integer>
	    <key>Zcaron</key>
	    <integer>-168</integer>
	    <key>scaron</key>
	    <integer>-123</integer>
	    <key>Scaron</key>
	    <integer>-260</integer>
	    <key>lslash</key>
	    <integer>-106</integer>
	    <key>Lslash</key>
	    <integer>-168</integer>
	    <key>caron</key>
	    <integer>-184</integer>
	    <key>ogonek</key>
	    <integer>-168</integer>
	    <key>circumflex</key>
	    <integer>-45</integer>
	    <key>Oacute</key>
	    <integer>-76</integer>
	    <key>Egrave</key>
	    <integer>-199</integer>
	    <key>Acircumflex</key>
	    <integer>-92</integer>
	    <key>quotesinglbase</key>
	    <integer>-291</integer>
	    <key>fi</key>
	    <integer>-92</integer>
	    <key>divide</key>
	    <integer>-123</integer>
	    <key>quotedblleft</key>
	    <integer>-106</integer>
	    <key>ordfeminine</key>
	    <integer>-154</integer>
	    <key>degree</key>
	    <integer>-106</integer>
	</dict>
	<key>Ucircumflex</key>
	<dict>
	    <key>Idieresis</key>
	    <integer>-76</integer>
	</dict>
	<key>ogonek</key>
	<dict>
	    <key>franc</key>
	    <integer>-92</integer>
	    <key>threesuperior</key>
	    <integer>-76</integer>
	    <key>twosuperior</key>
	    <integer>-45</integer>
	    <key>zcaron</key>
	    <integer>-106</integer>
	    <key>questiondown</key>
	    <integer>-76</integer>
	</dict>
	<key>lslash</key>
	<dict>
	    <key>Ccaron</key>
	    <integer>-76</integer>
	    <key>yacute</key>
	    <integer>-123</integer>
	    <key>Yacute</key>
	    <integer>-137</integer>
	    <key>zcaron</key>
	    <integer>-92</integer>
	    <key>Scaron</key>
	    <integer>-260</integer>
	    <key>ogonek</key>
	    <integer>-45</integer>
	</dict>
	<key>Scaron</key>
	<dict>
	    <key>franc</key>
	    <integer>-61</integer>
	    <key>threesuperior</key>
	    <integer>-61</integer>
	    <key>questiondown</key>
	    <integer>-61</integer>
	</dict>
	<key>zcaron</key>
	<dict>
	    <key>Scaron</key>
	    <integer>-45</integer>
	</dict>
	<key>eth</key>
	<dict>
	    <key>yacute</key>
	    <integer>-76</integer>
	    <key>Yacute</key>
	    <integer>-76</integer>
	</dict>
	<key>Yacute</key>
	<dict>
	    <key>franc</key>
	    <integer>-61</integer>
	    <key>zcaron</key>
	    <integer>-92</integer>
	</dict>
	<key>yacute</key>
	<dict>
	    <key>zcaron</key>
	    <integer>-61</integer>
	</dict>
	<key>thorn</key>
	<dict>
	    <key>onequarter</key>
	    <integer>-31</integer>
	    <key>threesuperior</key>
	    <integer>-61</integer>
	    <key>zcaron</key>
	    <integer>-106</integer>
	    <key>Scaron</key>
	    <integer>-123</integer>
	    <key>questiondown</key>
	    <integer>-61</integer>
	</dict>
	<key>multiply</key>
	<dict>
	    <key>threesuperior</key>
	    <integer>-92</integer>
	    <key>questiondown</key>
	    <integer>-92</integer>
	</dict>
	<key>onesuperior</key>
	<dict>
	    <key>threesuperior</key>
	    <integer>-45</integer>
	    <key>questiondown</key>
	    <integer>-45</integer>
	</dict>
	<key>twosuperior</key>
	<dict>
	    <key>Ccaron</key>
	    <integer>-61</integer>
	    <key>yacute</key>
	    <integer>-76</integer>
	    <key>Yacute</key>
	    <integer>-106</integer>
	    <key>Scaron</key>
	    <integer>-215</integer>
	</dict>
	<key>threesuperior</key>
	<dict>
	    <key>Ccaron</key>
	    <integer>-61</integer>
	    <key>gbreve</key>
	    <integer>-45</integer>
	    <key>Gbreve</key>
	    <integer>-45</integer>
	    <key>threequarters</key>
	    <integer>-31</integer>
	    <key>onehalf</key>
	    <integer>-47</integer>
	    <key>thorn</key>
	    <integer>-76</integer>
	    <key>yacute</key>
	    <integer>-106</integer>
	    <key>Yacute</key>
	    <integer>-154</integer>
	    <key>Scaron</key>
	    <integer>-154</integer>
	    <key>Lslash</key>
	    <integer>-45</integer>
	    <key>caron</key>
	    <integer>-106</integer>
	    <key>ogonek</key>
	    <integer>-76</integer>
	</dict>
	<key>onequarter</key>
	<dict>
	    <key>thorn</key>
	    <integer>-45</integer>
	</dict>
	<key>scedilla</key>
	<dict>
	    <key>zcaron</key>
	    <integer>-123</integer>
	</dict>
    </dict>
</plist>
